<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/public/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/public/css/public.css" media="all">
</head>

<body>
    <div class="layuimini-container">
        <div class="layuimini-main">



            <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 新增 </button>

            </div>
        </script>

            <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

            <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">編輯</a>
            <!--a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">刪除</a-->
        </script>

            <script type="text/html" id="switchTableBar">
            <input type="checkbox" name="close" value="{{d.id}}" lay-skin="switch" lay-filter="status-enable"  lay-text="正常|鎖定"  {{ d.status == 1 ? 'checked' : '' }}>
        </script>

        </div>
    </div>
    <script src="/public/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
    <script src="/public/lib/laydate/laydate.js" charset="utf-8"></script>
    <script>
        layui.use(['form', 'table', 'laydate'], function () {
            var $ = layui.jquery,
                form = layui.form,
                laydate = layui.laydate,
                table = layui.table;

            laydate.render({
                elem: '#dvregtime'
                //設置開始日期、日期日期的 input 選擇器
                //數組格式為 5.3.0 開始新增，之前版本直接配置 true 或任意分割字符即可
                , range: ['#txtbegintime', '#txtendtime']
                , type: 'datetime'
            });

            let id = '<%=id%>'
            table.render({
                elem: '#currentTableId',
                url: '/admin/user/balance_log_data/' + id,
                toolbar: '#toolbarDemo',
                defaultToolbar: ['filter', 'exports', 'print', {
                    title: '提示',
                    layEvent: 'LAYTABLE_TIPS',
                    icon: 'layui-icon-tips'
                }],
                cols: [[
                    //{ type: "checkbox", width: 50 },
                    { field: 'id', title: 'ID', sort: true },
                    { field: 'coin', title: '金幣', sort: true },
                    { field: 'afterCoin', title: '總金幣', sort: true },

                    { field: 'remark', title: '備註' },
                    { field: 'created', title: '時間' },
                ]],
                limits: [10, 15, 20, 25, 50, 100],
                limit: 15,
                page: true,
                skin: 'line'
            });

            //監聽指定開關
            form.on('switch(status-enable)', function (data) {
                /*layer.msg('開關checked：' + (this.checked ? 'true' : 'false'), {
                    offset: '6px'
                });
                layer.tips('溫馨提示：請註意開關狀態的文字可以隨意定義，而不僅僅是ON|OFF', data.othis)
    */

                var id = this.value;
                var status = this.checked ? 1 : 0;
                layer.confirm('確定操作？', { icon: 3, title: '提示' }, function (index) {
                    layer.close(index);
                    let loading = layer.load();
                    $.ajax({
                        url: '/admin/level/status/' + id + '/' + status,
                        dataType: 'json',
                        type: 'get',
                        success: function (result) {
                            layer.close(loading);
                            if (result.code == 0) {
                                layer.msg(result.message, { icon: 1, time: 1000 }, function () {
                                    //table.reload('role-table');
                                });
                            } else {
                                layer.msg(result.message, { icon: 2, time: 1000 });
                            }
                        }
                    })
                });
            });

            // 監聽搜索操作
            form.on('submit(data-search-btn)', function (data) {
                var result = JSON.stringify(data.field);

                /* layer.alert(result, {
                     title: '最終的搜索信息'
                 });*/

                //執行搜索重載
                table.reload('currentTableId', {
                    page: {
                        curr: 1
                    }
                    , where: {
                        searchParams: result
                    }
                }, 'data');

                return false;
            });

            window.JoinClub = function (p) {
                let clubId = $('#drpClub').val()
                console.log(p, clubId)

                $.ajax({
                    url: '/admin/user/join_club',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        userIds: p,
                        clubId
                    },
                    success: function (res) {
                        layer.msg('操作成功', { icon: 1, time: 1000 }, function () {
                            table.reload('currentTableId');
                            layer.closeAll()
                        })
                    }
                })
            }
            /**
             * toolbar監聽事件
             */
            table.on('toolbar(currentTableFilter)', function (obj) {
                if (obj.event === 'add') {  // 監聽添加操作
                    var index = layer.open({
                        title: '新增級別',
                        type: 2,
                        shade: 0.2,
                        maxmin: true,
                        shadeClose: true,
                        area: ['80%', '100%'],
                        content: '/admin/level/add',
                    });
                    $(window).on("resize", function () {
                        layer.full(index);
                    });
                }
            });

            //監聽表格復選框選擇
            table.on('checkbox(currentTableFilter)', function (obj) {
                console.log(obj)
            });

            table.on('tool(currentTableFilter)', function (obj) {
                var data = obj.data;
                if (obj.event === 'edit') {
                    var index = layer.open({
                        title: '編輯等級',
                        type: 2,
                        shade: 0.2,
                        maxmin: true,
                        shadeClose: true,
                        area: ['80%', '100%'],
                        content: '/admin/level/edit/' + data.id,
                    });
                    $(window).on("resize", function () {
                        layer.full(index);
                    });
                    return false;
                } else if (obj.event === 'delete') {
                    layer.confirm('真的刪除行麽', function (index) {
                        obj.del();
                        layer.close(index);
                    });
                }
            });



        });



    </script>

</body>

</html>