<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/public/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/public/css/public.css" media="all">
</head>

<body>
    <div class="layuimini-container">
        <div class="layuimini-main">

            <fieldset class="table-search-fieldset">
                <legend>搜索信息</legend>
                <div style="margin: 10px 10px 10px 10px">
                    <form class="layui-form layui-form-pane" action="">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">联赛名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="league" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-form-label">主队</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="homeTeam" autocomplete="off" class="layui-input">
                                </div>

                                <div class="layui-form-mid">vs</div>

                                <label class="layui-form-label">客队</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="awayTeam" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-form-label">开赛日期</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" name="matchDate" id="matchDate"
                                        placeholder="yyyy-MM-dd">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <button id="btnSearch" type="submit" class="layui-btn layui-btn-primary" lay-submit
                                    lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                            </div>
                        </div>
                        <!--div class="layui-form-item"> 
                        <div class="layui-inline" id="dvregtime" >
                            <label class="layui-form-label">开赛时间</label>
                            <div class="layui-input-inline">
                                <input type="text" name="beginTime" autocomplete="off" id="txtbegintime" class="layui-input" placeholder="开始日期"  >
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline">
                                <input type="text" name="endTime" autocomplete="off" id="txtendtime" class="layui-input" placeholder="结束日期"  >
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button id="btnSearch" type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div-->

                    </form>

                </div>
            </fieldset>

            <script type="text/html" id="toolbarDemo">
            <!--div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button>
            </div-->
        </script>

            <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

            <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">输入赛果</a>
            <!--a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a-->
        </script>

        </div>
    </div>
    <script src="/public/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
    <script src="/public/lib/laydate/laydate.js" charset="utf-8"></script>
    <script>
        layui.use(['form', 'table', 'jquery', 'laydate'], function () {
            var $ = layui.jquery,
                form = layui.form,
                laydate = layui.laydate,
                table = layui.table;

            var tableConfig = layui.table.config;
            //常规用法
            laydate.render({
                elem: '#matchDate',
                value: '<%=today%>'
            });

            laydate.render({
                elem: '#dvregtime'
                //设置开始日期、日期日期的 input 选择器
                //数组格式为 5.3.0 开始新增，之前版本直接配置 true 或任意分割字符即可
                , range: ['#txtbegintime', '#txtendtime']
                , type: 'datetime'
            });


            table.render({
                elem: '#currentTableId',
                type: 'post',
                url: '/admin/fbd_data?islive=1&self=<%=self%>&totalBuy=<%=totalBuy%>',
                toolbar: '#toolbarDemo',
                defaultToolbar: ['filter', 'exports', 'print', {
                    title: '提示',
                    layEvent: 'LAYTABLE_TIPS',
                    icon: 'layui-icon-tips'
                }],
                cols: [[
                    /*{type: "checkbox", width: 50},*/
                    { field: 'id', width: 120, title: 'ID', sort: true },
                    {
                        field: 'league', minWidth: 200, title: '联赛', templet: function (d) {
                            if (d.leagues && d.leagues.name_cn && d.leagues.name_cn.length > 0)
                                return d.leagues.name_cn
                            else
                                return d.league
                        }
                    },
                    {
                        field: 'hometeam', minWidth: 160, title: '主队', sort: true, templet: function (d) {
                            if (d.homeTeams && d.homeTeams.name_cn && d.homeTeams.name_cn.length > 0)
                                return d.homeTeams.name_cn
                            else
                                return d.hometeam
                        }
                    },
                    {
                        field: 'awayteam', minWidth: 160, title: '客队', templet: function (d) {
                            if (d.awayTeams && d.awayTeams.name_cn && d.awayTeams.name_cn.length > 0)
                                return d.awayTeams.name_cn
                            else
                                return d.awayteam
                        }
                    },
                    { field: 'matchTime', minWidth: 200, title: '开赛时间', minWidth: 150 },
                    { field: 'fbd_live_all_score', minWidth: 100, title: '全场比分', sort: true },
                    { field: 'fbd_live_half_score', minWidth: 100, title: '上半比分', sort: true },
                    {
                        field: 'agentAct', minWidth: 100, title: '赛事状态', sort: true, templet: function (d) {
                            if (d.agentAct === -1) {
                                return '<span style="color:red">' + d.remark + '</span>'
                            } else if (d.agentAct === 1) {
                                return '<span style="color:orange">' + d.remark + '</span>'
                            } else {
                                return '<span style="color:green">' + d.remark + '</span>'
                            }
                        }
                    },
                    { field: 'totalBuy', minWidth: 100, title: '购买量' },
                    { title: '操作', toolbar: '#currentTableBar', align: "center", fixed: 'right' }

                ]],
                limits: [10, 15, 20, 25, 50, 100],
                limit: 15,
                page: true,
                skin: 'line'
            });

            // 监听搜索操作
            form.on('submit(data-search-btn)', function (data) {
                var result = JSON.stringify(data.field);

                /* layer.alert(result, {
                     title: '最终的搜索信息'
                 });*/

                //执行搜索重载
                table.reload('currentTableId', {
                    page: {
                        curr: 1
                    }
                    , where: {
                        searchParams: result
                    }
                }, 'data');

                return false;
            });

            form.on('submit(data-save-btn)', function (data) {
                saveResult(data)
                return false;
            })
            form.on('submit(data-resume-btn)', function (data) {
                $('#all_data_home').val('0')
                $('#all_data_away').val('0')
                $('#half_data_home').val('0')
                $('#half_data_away').val('0')
                saveResult(data, 0, 1)
                return false;
            })
            form.on('submit(data-finish-btn)', function (data) {
                saveResult(data, 1)
                return false;
            })
            form.on('submit(data-cancel-btn)', function (data) {
                cancelResult(data, -1)
                return false;
            })
            form.on('submit(data-rebuild-btn)', function (data) {
                saveRebuild(data, 1)
                return false;
            })



            function cancelResult(data) {
                if (!confirm('确认腰斩操作?')) return false
                var result = JSON.stringify(data.field);
                console.log(result)
                $.ajax({
                    url: '/admin/order/cancel_order',
                    type: 'POST',
                    data: {
                        id: $('#hdid').val(),
                        fbdid: $('#hdfbdid').val(),
                        home: $('#all_data_home').val(),
                        away: $('#all_data_away').val(),
                        home_half: $('#half_data_home').val(),
                        away_half: $('#half_data_away').val()
                    },
                    success: function (res) {
                        if (res.code == 0) {
                            //执行搜索重载


                            table.reload('currentTableId', {
                                page: res.page,
                            }, 'data');
                        }
                        alert(res.message)


                    }
                })
            }

            function saveResult(data, agentAct = 0, resume = 0) { //resume == 1时恢复订单
                if (!confirm('确认操作?')) return false
                var result = JSON.stringify(data.field);
                console.log(result)

                $.ajax({
                    url: '/admin/user/live_save',
                    type: 'post',
                    data: {
                        id: $('#hdid').val(),
                        fbdid: $('#hdfbdid').val(),
                        home: $('#all_data_home').val(),
                        away: $('#all_data_away').val(),
                        home_half: $('#half_data_home').val(),
                        away_half: $('#half_data_away').val(),
                        agentAct: agentAct,
                        resume: resume
                    },
                    success: function (res) {
                        if (res.code == 0) {
                            //执行搜索重载

                            table.reload('currentTableId', {
                                page: res.page,
                            }, 'data');
                        }
                        alert(res.message)


                    }
                })
            }

            function saveRebuild(data, agentAct = 0, resume = 0) {
                if (!confirm('确认操作?')) return false
                var result = JSON.stringify(data.field);
                console.log(result)

                $.ajax({
                    url: '/admin/user/live_save',
                    type: 'post',
                    data: {
                        id: $('#hdid').val(),
                        fbdid: $('#hdfbdid').val(),
                        home: $('#all_data_home').val(),
                        away: $('#all_data_away').val(),
                        home_half: $('#half_data_home').val(),
                        away_half: $('#half_data_away').val(),
                        agentAct: 9,
                        rebuild: 1
                    },
                    success: function (res) {
                        if (res.code == 0) {
                            //执行搜索重载

                            table.reload('currentTableId', {
                                page: res.page,
                            }, 'data');
                        }
                        alert(res.message)


                    }
                })
            }


            table.on('tool(currentTableFilter)', function (obj) {
                var data = obj.data;
                if (obj.event === 'itemUpdate') {
                    console.log('itemUpdate');
                }
                else if (obj.event === 'edit') {
                    console.log(obj)
                    var html = '<form><table style="width:100%;margin-top:30px;text-align:center">';
                    html += '<tr class="layui-form-item">\
                        <td>主队全场进球</td>\
                        <td>客队全场进球</td>\
                    </tr>'

                    let all_data = data.fbdDataLives.find(t => t.halftype == 0)
                    let half_data = data.fbdDataLives.find(t => t.halftype == 1)

                    let homescore = all_data ? all_data.homescore : ''
                    let awayscore = all_data ? all_data.awayscore : ''
                    html += '<tr class="layui-form-item">\
                        <td align="center"><input  type="text" id="all_data_home" style="width:80px"  autocomplete="off" class="layui-input" value="'+ homescore + '" lay-event="itemUpdate"></td>\
                        <td align="center"><input  type="text" id="all_data_away" style="width:80px"  autocomplete="off" class="layui-input" value="'+ awayscore + '" lay-event="itemUpdate"></td>\
                    </tr>'
                    html += '<tr><td colspan="2"><hr style="width:100;size:1px" /></td></tr>'
                    html += '<tr class="layui-form-item">\
                        <td>主队上半场进球</td>\
                        <td>客队上半场进球</td>\
                    </tr>'

                    let homescore_half = (half_data && half_data != undefined) ? half_data.homescore : ''
                    let awayscore_half = (half_data && half_data != undefined) ? half_data.awayscore : ''
                    html += '<tr class="layui-form-item">\
                        <td align="center"><input  type="text" id="half_data_home" style="width:80px"  autocomplete="off" class="layui-input" value="'+ homescore_half + '" lay-event="itemUpdate"></td>\
                        <td align="center"><input  type="text" id="half_data_away" style="width:80px"  autocomplete="off" class="layui-input" value="'+ awayscore_half + '" lay-event="itemUpdate"></td>\
                    </tr>'
                    html += '<tr><td colspan="2"><hr style="width:100;size:1px" /><input type="hidden" value="' + data.id + '" id="hdid" /><input type="hidden" value="' + data.fbdid + '" id="hdfbdid" />\
                        <input type="hidden" value="' + data.agentId + '" id="hdAgentId" />\
                        <button id="btnSave" type="submit" class="layui-btn layui-btn" lay-submit="" lay-filter="data-save-btn"><i class="layui-icon"></i> 保存</button>\
                        <button id="btnSave" type="submit" class="layui-btn layui-btn-warm" lay-submit="" lay-filter="data-cancel-btn"><i class="layui-icon"></i> 腰斩</button>\
                        <button id="btnSave" type="submit" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="data-resume-btn"><i class="layui-icon"></i> 恢复</button>';
                    //<button id="btnSave" type="submit" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="data-rebuild-btn"><i class="layui-icon"></i> 重派(保留当前比分)</button>';
                    if (data.agentId > 0) {
                        html += '<button id="btnSave" type="submit" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="data-finish-btn"><i class="layui-icon"></i> 确认完赛</button>\
                        </td>';
                    }
                    html += '</tr>'
                    html += '</table></form>'
                    //layer.alert(html)
                    var index = layer.open({
                        title: '赛果结算',
                        type: 1,
                        shade: 0.2,
                        maxmin: true,
                        shadeClose: true,
                        area: ['40%', '65%'],
                        //content: '../page/table/edit.html',
                        content: html,
                    });
                    $(window).on("resize", function () {
                        layer.full(index);
                    });
                    return false;
                } else if (obj.event === 'delete') {
                    layer.confirm('真的删除行么', function (index) {
                        obj.del();
                        layer.close(index);
                    });
                }
            });

        });


    </script>

</body>

</html>