<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>market</title>
    <link rel="stylesheet" href="https://demo.lanrenzhijia.com/demo/37/3743/demo/css/zeroModal.css">
    <link rel="stylesheet" href="/public/web/css/bootstrap.css">
    <link rel="stylesheet" href="/public/web/css/style.css?2">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/klinecharts/dist/klinecharts.min.js"></script>
    <!--script src="https://cdn.example.com/klinechart/klinechart-i18n.min.js"></script-->
    <style>

    </style>
    <script src="https://unpkg.com/web3modal@1.9.12/dist/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/web3@1.6.0/dist/web3.min.js"></script>
    <script src="https://unpkg.com/@walletconnect/web3-provider@1.6.6/dist/umd/index.min.js"></script>
    <script src="./js/abi.js"></script>
    <script src="./biance.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="public/web/js/bootstrap.js"></script>
</head>

<body>
    <!-- Header -->
    <%- include('header') %>


        <!-- Main Content -->
        <div class="content">
            <div class="sub-content">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" class="small-icon">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M6.29 5.043A9 9 0 0112 3v9l6.364-6.364a9 9 0 011.255 11.155l-6.205-6.205L12 12l6.364 6.364a9.002 9.002 0 01-14.301-2.121 9 9 0 012.227-11.2z"
                        fill="currentColor"></path>
                </svg>
                <div>贊助商驗證任務</div>
            </div>
            <div class="line"></div>
            <div class="main-content">
                <div>
                    <div>幣安任務</div>
                    <div></div>
                    <div class="line"></div>
                </div>
                <div>
                    <div>Maicion任務</div>
                    <div></div>
                    <div class="line"></div>
                </div>
                <div>
                    <div>Ace任務</div>
                    <div></div>
                    <div class="line"></div>
                </div>

                <div>
                    <div>Bito任務</div>
                    <div></div>
                    <div class="line"></div>
                </div>

            </div>
        </div>

        <!-- Footer -->
        <%- include('footer') %>

</body>

</html>