<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/public/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/public/css/public.css" media="all">

</head>

<body>
    <div class="layuimini-container">
        <div class="layuimini-main">

            <!--blockquote class="layui-elem-quote layui-text">
           会员资料 
        </blockquote-->

            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>操作</legend>
            </fieldset>

            <form class="layui-form" action="" onsubmit="return false">
                <div class="layui-form-item">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">


                        <textarea id="comment" name="comment" lay-verify="comment" placeholder="請輸入内容"
                            class="layui-textarea"><%=id>0?data.comment:''%></textarea>
                    </div>
                </div>


                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        <input type="hidden" name="id" value="<%=id>0?data.id:'0'%>" />
                        <input type="hidden" name="status" value="1" />
                    </div>
                </div>
            </form>

        </div>
    </div>

    <script src="/public/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
    <script src="/public/lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
    <script src="/public/js/lay-config.js?v=1.0.4" charset="utf-8"></script>

    <script src="/public/lib/laydate/laydate.js" charset="utf-8"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    <script>
        layui.use(['form', 'layedit', 'laydate', 'wangEditor'], function () {
            var form = layui.form
                , layer = layui.layer
                , upload = layui.upload
                , layedit = layui.layedit
                , laydate = layui.laydate
                , element = layui.element;

            laydate.render({
                elem: '#dvregtime'
                //设置开始日期、日期日期的 input 选择器
                //数组格式为 5.3.0 开始新增，之前版本直接配置 true 或任意分割字符即可
                , range: ['#txtbegintime', '#txtendtime']
                , type: 'datetime'
            });


            //监听提交
            form.on('submit(demo1)', function (data) {
                $.ajax({
                    url: '/admin/task/save',
                    type: 'post',
                    data: data.field,
                    success: function (res) {
                        console.log(res)
                        layer.alert(res.message, {
                            title: '最终的提交信息'
                        })
                        if (res.code != undefined && res.code === 0) {
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layui.table.reload('currentTableId');//重載父頁表格，參數為表格ID
                            parent.layer.close(index);
                            layer.close()
                        }
                    }
                })
                return false;
            });



        });

    </script>
</body>

</html>